#placeholder {
  margin: 10em 5em;
}

#versions-button{
  margin: 1em 1em;
}

#versions{
  margin: 1em 1em;
  max-width: 300px;
  display: none;
}

#version-dropdown1, #version-dropdown2{
  margin: 10em 5em;
  /*max-width: 400px;*/
}

#file-dropdown1, #file-dropdown2{
  min-width: 500px;
}

.ui.warning.message{
  display: none;
}

#jumbo{
  background-color: #9ed1de;
}

#select-title{
  margin: 0.5em 1em;
}

.masthead.segment {
  min-height: 400px;
  padding: 1em 0em;
}

.masthead h1.ui.header {
  margin-top: 1.5em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
  margin-bottom: 1em;
}

@media only screen and (max-width: 700px) {
  .masthead.segment {
    min-height: 300px;
  }
  .masthead .ui.button {
    font-size: 1rem;
  }
  .masthead h1.ui.header {
    font-size: 2.5em;
    margin-top: 2.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1em;
  }
}