<div id="primary-menu" class="ui container">
  <div class="ui large fixed inverted menu">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
    <a class="header item" href="/">Yang Module Comparison</a>
    <a class="item" href="/">Home</a>
    <a class="item" href="/compare">Compare</a>
    <div class="right menu">
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>