{% extends "base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'yang_compare/css/compare.css' %}">
{% endblock %}

{% block head_title %}
Yang File Compare
{% endblock %}

{% block content %}

<div id="jumbo" class="ui vertical masthead center aligned segment">

  <div class="ui text container">
    <h1 class="ui header">
      Yang Compare
    </h1>
    <h2>Sample Text.</h2>
    <div class="ui huge secondary button">Get Started <i class="right arrow icon"></i></div>
  </div>

</div>

<div id="space-button" class="ui huge primary button">Run Shit <i class="right arrow icon"></i></div>
  

<hr>
<button type="button" class="btn btn-primary" id="myClickButton">Show XR Versions</button>
<div id="versions" class="card" style="width: 18rem;">
  <div class="card-header">
    Versions
  </div>
  <ul id="versions-list" class="list-group list-group-flush">
    
  </ul>
</div>


{% endblock %}

{% block script %}
<!-- <script src="{% static 'yang_compare/js/compare.js' %}"></script> -->

{% endblock %}