{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'yang_compare/css/compare.css' %}">

{% endblock %}

{% block head_title %}
Yang File Compare
{% endblock %}

{% block content %}

<div class="jumbotron">
      <h1 class="text-center display-4">Yang Compare</h1>
      <p class="lead text-center">This is sample text</p>
</div>

<h3 id="test">Select Files to Compare:</h3>
<hr>

<div id="tree">
	
</div>
<hr>
<button type="button" class="btn btn-primary" id="myClickButton">Show XR Versions</button>
<div id="versions" class="card" style="width: 18rem;">
  <div class="card-header">
    Versions
  </div>
  <ul id="versions-list" class="list-group list-group-flush">
    
  </ul>
</div>


{% endblock %}

{% block script %}
<script src="{% static 'yang_compare/js/treeview.js' %}"></script>

{% endblock %}