{% extends "base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'yang_compare/css/compare.css' %}">
{% endblock %}

{% block head_title %}
Yang File Compare
{% endblock %}

{% block content %}

<div id="jumbo" class="ui vertical masthead center aligned segment">

  <div class="ui text container">
    <h1 class="ui header">
      Yang Compare
    </h1>
    <h2>Sample Text</h2>
    <div id="start-btn" class="ui huge secondary button" href="#jumbo">
    	Get Started 
    	<i class="right arrow icon"></i>
    </div>
  </div>

</div>

<h1 id="select-title">Select Files to Compare:</h1>
<hr>

<div id="placeholder" class="ui placeholder">
  <div class="image header">
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="paragraph">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="image header">
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="paragraph">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</div>

<hr>
<button class="ui primary button" id="versions-button">Show XR Versions</button>

<div id="versions">	
	<h3 class="ui top attached header versions">
	  Versions
	</h3>
	<div class="ui attached raised segment versions">
	 	<div id="versions-list" class="ui divided relaxed list">

		</div>
	</div>
</div>
<!-- <div id="versions" class="card" style="width: 18rem;">
  <div class="card-header">
    Versions
  </div>
  <ul id="versions-list" class="list-group list-group-flush">
    
  </ul>
</div> -->


{% endblock %}

{% block script %}
<script src="{% static 'yang_compare/js/compare.js' %}"></script>

{% endblock %}